/* Reset básico y box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --background-color: linear-gradient(115deg, #02153b,#04425d,#10baa2);
  --font-color-primary: white;
  --font-family-primary: 'Inter', sans-serif;
  --font-title: 'Impact', sans-serif;
  --color-border: #0E9E92;
}

/* Body y fuente base */
body {
  font-family: var(--font-family-primary);
  background: var(--background-color);
  color: var(--font-color-primary);
  line-height: 1.6;
  height: 100%;
}
