/* Reset básico y box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --background-color: linear-gradient(115deg, #02153b,#04425d,#10baa2);
  --button-color: -webkit-linear-gradient(290deg, #e4671a,#fea22d);
  --bg-color: #021B3F;
  --color-orange: #F7A34E;
  --font-color-primary: white;
  --background-color1: rgb(255, 245, 235);
  --font-color-black: black;
  --font-color-gray: #b5b5b5;
  --font-family-primary: 'Inter', sans-serif;
  --font-title: 'Inter', sans-serif;
}

/* Estilos globales */
body {
  padding-top: 60px;
  font-family: var(--font-family-primary);
  background-color: var(--bg-color);  
  line-height: 1.6;
  height: 100%;
  color: var(--font-color-primary);
}

h1 {

  font-family: var(--font-title);
  font-size: 3.5rem;
  color: var(--font-color-primary);
  font-weight: bold;

  span {

    background: var(--button-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h2 {

  display: flex;
  align-items: center;
  margin: 0;
  background: var(--button-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;
}

/* No olvidar h3 */

h3 {

  font-weight: bold;
  background: var(--button-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.9rem;
  /* Hay que arreglar esto para que la letra no estorbe */
}



h4 {

  font-weight: bold;
}

h5 {
  font-size: 1.3rem;
  color: var(--font-color-gray);
}

h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

p {
  color: var(--font-color-primary);
  margin: 0;
}


