/* Reset básico y box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --background-color: linear-gradient(115deg, #02153b,#04425d,#10baa2);
  --button-color: -webkit-linear-gradient(290deg, #e4671a,#fea22d);
  --color-orange: #F7A34E;
  --font-color-primary: white;
  --font-color-black: black;
  --font-color-gray: #b5b5b5;
  --font-family-primary: 'Inter', sans-serif;
  --font-title: 'Inter', sans-serif;
  --color-border: #0E9E92;
}

/* Body y fuente base */
body {
  font-family: var(--font-family-primary);
  /* background: var(--background-color); */
  background-color: #021B3F;
  color: var(--font-color-primary);
  line-height: 1.6;
  height: 100%;
}
