.footer-component {

  background-color: rgba(0, 0, 0, 0.4);
  padding-block: 3rem;
  border-top: 1px solid var(--color-orange);

  .title {
    
    p {

      color: var(--font-color-gray);
    }
  }

  .links {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .link {

      color: white;
      text-decoration: none;
      display: inline-block;
      transition: transform 0.3s ease;
    }

    .link:hover {

      transform: translateX(5px);
      color: var(--color-orange);
    }
  }

  .contact {

    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .copy-right {

    color: var(--font-color-gray);
  }

  .policy {

    display: flex;
    justify-content: center;
    gap: 1rem;

    .priv-terms {

      text-decoration: none;
      color: white;
      transition: 0.3s
    }

    .priv-terms:hover {

      color: var(--color-orange);
    }
  }

  .date {

    display: flex;
    justify-content: end;
    color: var(--font-color-gray);
  }
}