.home-component {
  
  .info-home {

    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--color-border);
    gap: 2rem;

    .photo-container {

      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 2rem;

      .profile-photo {
  
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 1px solid var(--color-border);
        object-fit: cover;
        box-shadow: 0 8px 40px rgba(33, 232, 139, 0.35);
      }

    }


    .text-info {

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .name-job {

        display: flex;
        flex-direction: column;

        h1 {
    
          font-family: var(--font-title);
          font-size: 3.5rem;
          color: var(--font-color-primary);

          span {

            background: linear-gradient(90deg, #21e88b,#1891aa);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        
        h2 {
          
          border-bottom: 6px solid var(--color-border);
          font-family: var(--font-title);
          color: #d3cbcb;
        }

      }

      p {

        color: gray;
        font-size: 1.2rem;

        span {

        color: white;
        font-weight: bold;
      }
      }

      .links-get-in-touch {

        display: flex;
        justify-content: space-evenly;

        .links-social-network {
  
          display: flex;
          gap: 1rem;
  
            img {
  
              width: 75px;
              transition: transform 0.3s ease;
  
            }
  
            img:hover {
          
              transform: scale(1.1);
            }
        }

        .buttons {

          display: flex;
          gap: 2rem;

          .getInTouch {

            background-color: #21e88b;
            border-radius: 2rem;
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            padding: .5rem 1rem;
            transition: transform 0.3s ease;
            font-weight: bold;
          }

          .getInTouch:hover {

            transform: scale(1.1);
          }
        }
      }

    }

    .stack {

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      img {

        width: 100px;
      }
    }
  }
}
  
